body {
	margin:0;
	background-color:maroon;
}

/* algemene styling */
button {
	font:inherit;
}

select {
	font:inherit;
}



/* header */
header {
	padding:0 1em;
	
	
	display:grid;
	grid-template-columns:2em 2em 1fr 4.5em;
	justify-items:center;
	align-items:center;
	gap:.5em;
	
	border-bottom:solid 1px white;
}

header:hover {
	background-color:white;
	border-color:black;
}

/* logo */
header > a {
	position:relative;
	z-index:10;
	padding-top: 0.5em;
	color:white;
	width: 8em;
}

header:hover > a,
header.open > a {
	color:black;
}

/* alle buttons */
header > button {
	position:relative;
	z-index:10;
	
	width:2.5em;
	aspect-ratio:1/1;
	margin:0;
	
	background-color:transparent;
	color:white;
}

header:hover > button,
header.open > button {
	color:black;
}

/* menu button */
header > button:nth-of-type(1) {
	order:-2;
}

/* menu zoek */
header > button:nth-of-type(2) {
	order:-1;
}

/* menu winkelwagen */
header > button:nth-of-type(3) {
	justify-self:end;
}


/* NAV */
header nav {
	position:absolute;
	z-index:5;
	inset:0;
	padding:2.5em 0em 1em;
	background-color:white;
	
	translate:-100% 0;
	transition:.3s;
}

header.open nav {
	translate:0 0;
}

header nav ul {
	margin:0;
	padding:1em;
	list-style:none;
}

header nav ul:nth-of-type(1) {
	border-top:solid 1px black;
}

header nav ul button {
	display:none;
}




@media (width > 40em) {
	header {
		display:flex;
		
		background-color:white;
		border-color:black;
	}
	
	header > button {
		display:none;
	}
	
	header nav {
		position:static;
		translate:0 0;
		flex-grow:1;
		
		padding:0;
		
		display:flex;
		justify-content:end;
		
		background-color:transparent;
	}
	
	header nav ul {
		display:flex;
		align-items:center;
		gap:.5em;
		margin-left:auto;
		padding:0;
	}
	
	header nav ul:nth-of-type(1) {
		border-top:none;
	}
	
	header nav ul button {
		display:block;
	}
	
	header nav ul:nth-of-type(2) button {
		height:2.5em;
		margin:0;
		background-color:transparent;
	}
	
	header nav ul select {
		display:none;
	}
}
