
main section {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	max-width: 64em;
	margin: 0;
}

main section ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

main section ul li video {
	width: 100%;
	height: auto;
}

main section ul li img {
	width: 100%;
	height: auto;
}

main section ul li h2 {
	position: absolute;
	margin: 0;
	left: 0%;
	bottom: 54%;
	right: 0;
	color: var(--witte-kleur);
	text-align: center;
	font-size: 2em;
	text-transform: none;
}

main section ul li a {
	position: absolute;
	top: 51%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: var(--witte-kleur);
	color: var(--zwarte-kleur);
	font-size: 1em;
	padding: 0.75em 1.5em;
	border: none;
	white-space: nowrap;
	/*Tekst gaat niet naar beneden als je het klein maakt.*/
	cursor: pointer;
	/*Muis krijgt handje als je over de link heen gaat.*/
	border-radius: 5px;
	text-decoration: none;
}

main section ul li a:hover {
	background-color: var(--zwarte-kleur);
	color: var(--witte-kleur);
	transition: 1s;
}

main section ul li a:active {
	background-color: var(--heading-kleur);
	color: var(--witte-kleur);
	transition: 1s;
}

main section ul li a:focus {
	background-color: var(--heading-kleur);
	color: var(--witte-kleur);
	transition: 1s;
}




@media (width > 64em) {
	main {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
	}
	
	main section {
		margin: 0;
	}
	
	main section video,
	main section img {
		width: 50%;
		height: auto;
		object-fit: cover;
	}

}
