/**************/
/* CSS REMEDY */
/**************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
 header {
	background-image:url('../images/fpshoeshome.jpg '); 
	background-size: cover;
	background-position: center;
	height: 100vh; /*Hoogte van de image.*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	/*Tekst boven aan de afbeelding*/
	position: relative;
  }
  
  /* content voor over de background heen.*/
  header section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5); /* Kleur van de achtergrond.*/
  }
  
  /* Text boven de achtergrond. */
  header section h1 {
	font-size: 3rem;
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 768px) {
	header {
	  background-size: cover;
	  background-position: center;
	  text-align: center;
	  height: 50vh;
	  /*Verandert hoogte als scherm kleiner wordt.*/
	}
	
	header h1 {
	  font-size: 2rem;
	}
  }
  /* Navbar styles */
  .navbar {
	background-color: black;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	transition: background-color 0.3s ease;
  }
  
  .navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
  }
  
  .navbar li {
	margin: 0 15px;
  }
  
  .navbar a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	transition: color 0.3s ease;
  }
  
  /* Change navbar color on hover */
  .navbar:hover {
	background-color: white;
  }
  
  .navbar:hover a {
	color: black;
  }

  .slider {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  }
  
  .slide {
	flex: 0 0 auto;
	width: 100%;
	scroll-snap-align: start;
	text-align: center;
  }
  
  .slide img {
	width: auto;
	height: 20vh;
  }
  
  .slide h2 {
	margin-top: 10px;
	font-size: 1.5rem;
	color: #333;
  }
  
  
  /* Responsive styles */
  /*@media screen and (max-width: 768px){
	.navbar {
	  position: static;
	  background-color: white;
	}
	
	.navbar ul {
	  flex-direction: column;
	  height: auto;
	  display: none;
	}
	
	.navbar ul.active {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
	
	.navbar li {
	  margin: 10px 0;
	}
	
	.navbar a {
	  color: black;
	}
	
	.navbar:hover,
	.navbar:hover a {
	  background-color: transparent;
	  color: inherit;
	}
}*/

