@font-face {
	font-family: Roboto;
	src: url('fonts/Roboto-Regular.woff');
	font-weight: 400;
	font-style: normal;
}

/*Fonts downloaden woff.*/

:root {
	--witte-kleur:white;
	--zwarte-kleur: black;
	--heading-kleur: #333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
  }
  
/* algemene styling */
button {
	font:inherit;
}

select {
	font:inherit;
}



/* header */
header {
	padding:0 1em;
	/*background-color: white; bij andere pagina dan homepagina deze erin zetten*/
	display:grid;
	grid-template-columns:2em 2em 1fr 4.5em;
	justify-items:center;
	align-items:center;
	gap:.5em;
	
	border-bottom:solid 1px var(--zwarte-kleur);
}

header:hover {
	background-color: var(--witte-kleur);
	border-color: var(--zwarte-kleur);
}

/* logo */
header > a {
	position:relative;
	z-index:10;
	padding-top: 0.5em;
	color: var(--witte-kleur);
	width: 8em;
}

header:hover > a,
header.open > a {
	color: var(--zwarte-kleur);
}

/* alle buttons */
header > button {
	position:relative;
	z-index:10;
	width:2.5em;
	aspect-ratio:1/1;
	margin:0;
	border: none;
	background: none;
	background-color: transparent;
	color: var(--witte-kleur);
	cursor: pointer;
}

header button img {
	width: 1.5em;
}

header:hover > button,
header.open > button {
	color: var(--zwarte-kleur);
}

/* menu button */
header > button:nth-of-type(1) {
	order:-2;
}

/* menu zoek */
header > button:nth-of-type(2) {
	order:-1;
}

/* menu winkelwagen */
header > button:nth-of-type(3) {
	justify-self:end;
}


/* NAV */
header nav {
	position:absolute;
	z-index:5;
	inset:0;
	padding:2.5em 0em 1em;
	background-color: var(--witte-kleur);
	
	translate:-100% 0;
	transition:.3s;
}

header.open nav {
	translate:0 0;
}

header nav ul {
	margin:0;
	padding:1em;
	list-style:none;
}

header nav ul:nth-of-type(1) {
	display: flex;
	border-top:solid 1px var(--zwarte-kleur);
	border-bottom:solid 1px var(--zwarte-kleur);
}

header nav ul li a:nth-of-type(1) {
	padding: 1em;
	color: var(--zwarte-kleur);
	text-decoration: none;
}


header nav ul button {
	display:none;
}

header nav ul:nth-of-type(3) {
	display: flex;
	border-top:solid 1px var(--zwarte-kleur);
}


  body h2 {
	margin: 1em 0 1em 1em;
	font-size: 1em;
  }

  main:first-child img {
	width: 100%;
	height: 90vh;
  }

  section {
	width: 100%;
	overflow: hidden;
	/*Het zet zich vast op een scroll positie.*/
	/*https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-snap-type*/
  }
  
  /*Ul's van eerste twee secties had ook eerst invloed op mijn header. */
  ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	/*https://developer.mozilla.org/en-US/docs/Web/CSS/text-align*/
  }

  section:first-child ul,
  section:nth-of-type(2) ul {
	overflow-x:auto;
  }

  
  li {
	width: 100%;
	scroll-snap-align: start;
	text-align: center;
  }

  li img {
	width: auto;
	height: 20vh;
	margin: 0 .1em 0 0;
  }
  
  li h3 {
	margin: 0.5em 1em 0 0;
	font-size: 0.7em;
	text-transform: uppercase;
	color: var(--heading-kleur);
  }
  
  section:nth-of-type(2) h2 {
	margin: 2em 0 1em 1em;
	font-size: 1em;
  }
  
  section:nth-of-type(2) h3 {
	margin: 0.5em 1em 0 1em;
	font-size: 0.7em;
	text-transform: uppercase;
	color: var(--heading-kleur);
  }

 

  section:nth-of-type(3) {
	display: grid;
	width: 100%;
  }

  section:nth-of-type(3) ul {
	scroll-snap-type: none;
  }

  section:nth-of-type(3) li  {
	position: relative;
  }

  section:nth-of-type(3) h2 {
	margin: 2em 0 1em 1em;
	font-size: 1em;
  }

  section:nth-of-type(3) li img  {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  section:nth-of-type(3) li video  {
	max-width: 100%;
	height: 100%;
	object-fit: cover
  }

  section:nth-of-type(3) li h3,h5  {
	position: absolute;
	margin: 0;
	left: 0%;
	bottom: 51%;
	right: 0;
	color: var(--witte-kleur);
	text-align: center;
	font-size: 2em;
	text-transform: none;
	/*Hoofletters weg.*/
  }

  section:nth-of-type(3) h4 {
	margin: 1em 0 1em 1em;
	font-size: 1em;
  }

  section:nth-of-type(3) li a {
	position: absolute;
	top: 51%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: var(--witte-kleur);
	color: var(--zwarte-kleur);
	font-size: 1em;
	padding: 0.75em 1.5em;
	border: none;
	white-space: nowrap;
	/*Tekst gaat niet naar beneden als je het klein maakt.*/
	cursor: pointer;
	/*Muis krijgt handje als je over de link heen gaat.*/
	border-radius: 5px;
	text-decoration: none;
  }

  section:nth-of-type(3) li a:hover {
	background-color: var(--zwarte-kleur);
	color: var(--witte-kleur);
	transition: 1s;
  }

  section:nth-of-type(3) li a:active {
	background-color: var(--heading-kleur);
	color: var(--witte-kleur);
	transition: 1s;
  }

  section:nth-of-type(3) li a:focus {
	background-color: var(--heading-kleur);
	color: var(--witte-kleur);
	transition: 1s;
  }

  section:nth-of-type(4) p {
	margin: 2em;
	font-size: 1em;
  }

  section:nth-of-type(5) li  {
	position: relative;
  }

  section:nth-of-type(5) li video  {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  section:nth-of-type(5) li a {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: var(--witte-kleur);
	color: var(--zwarte-kleur);
	font-size: 1em;
	padding: 0.75em 1.5em;
	border: none;
	white-space: nowrap;
	/*Tekst gaat niet naar beneden als je het klein maakt.*/
	cursor: pointer;
	/*Muis krijgt handje als je over de link heen gaat.*/
	border-radius: 5px;
	text-decoration: none;
  }

  section:nth-of-type(5) li a:hover {
	background-color: var(--zwarte-kleur);
	color: var(--witte-kleur);
	transition: 1s;
  }

  section:nth-of-type(5) li a:active {
	background-color: var(--zwarte-kleur);
	color: var(--witte-kleur);
	transition: 1s;
  }

  section:nth-of-type(5) li a:focus {
	background-color: var(--zwarte-kleur);
	color: var(--witte-kleur);
	transition: 1s;
  }

  footer section:first-child ul, footer section:nth-last-of-type(2) img {
	margin: 0;
	padding: 0.1em 0;
	background-color: var(--zwarte-kleur);
	display: grid;
	gap: 0.1em;

  }

  footer section:first-child li {
	background-color: var(--witte-kleur);
	padding: 2em;
  }

  footer section ul li a {
	text-decoration: none;
  }

  footer section:nth-of-type(2){
	display: flex;
	justify-content: center;
  }

  footer select {
	width: 90%;
	margin: 2em;
	padding: 1em;
	background-color: var(--witte-kleur);
	border-style: solid;
	border-color: var(--zwarte-kleur);
	border-radius: 1em;
  }

  footer section ul li:first-child img {
	filter: contrast(0.5);
	/*Contrast lager zodat de text wat beter naar voren springt.*/
  }

  footer section ul li:first-child h2 {
	position: absolute;
	margin: 0;
	left: 0%;
	bottom: 54%;
	right: 0;
	color: var(--witte-kleur);
	text-align: center;
	font-size: 2em;
	text-transform: none;
  }

  footer section:nth-of-type(4) ul {
	margin: 0;
	padding: 0.1em 0;
	background-color: var(--zwarte-kleur);
	display: grid;
	gap: 0.1em;
  }

  footer section:nth-of-type(4) li {
	background-color: var(--witte-kleur);
	padding: 1em;
	text-align: left;
  }






 /* Responsive */
  @media screen and (min-width: 64em) {
	header {
		display:flex;
		
		background-color: var(--witte-kleur);
		border-color:var(--zwarte-kleur);
	}
	
	header > button {
		display:none;
	}
	
	header nav {
		position:static;
		translate:0 0;
		flex-grow:1;
		
		padding:0;
		
		display:flex;
		justify-content:end;
		
		background-color: transparent;
	}
	
	header nav ul {
		display: flex;
		align-items: center;
		gap:.5em;
		margin-left:auto;
		padding:0;
	}
	
	header nav ul:nth-of-type(1) {
		border-top: none;
		border-bottom: none;
	}
	
	header nav ul button {
		display:block;
	}
	
	header nav ul:nth-of-type(2) button {
		height:2.5em;
		margin:0;
		/*Dit moet aangepast worden naar transparent voor home pagina.*/
		background-color: transparent;
	}
	
	header nav ul select {
		display:none;
	}

	header nav ul:nth-of-type(3) {
		font-size: .75em;
		border: none;
	}

	header nav ul:nth-of-type(3) button {
		border: none;
		background: none;
	}

	header nav ul li:first-child p {
		display: none;
	}
	
	li img {
		height: 40vh;
	}

	footer section:first-child ul {
		padding: 0.1em;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
  }

  /*  header {
	background-image:url('../images/schoenenhome.webp'); 
	background-size: cover;
	background-position: center;
	height: 90vh; /*Hoogte van de image.
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	/*Tekst boven aan de afbeelding*/
	/*position: relative;
  }
  
  /* content voor over de background heen.*/
 /* header section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5); /* Kleur van de achtergrond.*/
